@import url("https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap");

:root {
  --grid-size: calc(100vw - 80px);
  --background-color: #333333;
  --text-color-inactive: rgba(255, 255, 255, 0.1);
  --text-color-active: rgba(255, 255, 255, 1);
  --minute-color-inactive: var(--text-color-inactive);
  --minute-color-active: var(--text-color-active);
  --minute-gap: -20px;
  --minute-size: 4px;
  --text-font-size: 16px;
  --text-font-family: "Bungee Inline";
  --minute-track-length: calc(var(--grid-size) + (2 * -1 * var(--minute-gap)) - var(--minute-size));
  --minute-track-length-factor: calc(var(--minute-track-length) / var(--minute-size));
  --minute-track-scale: 87.8;  // for grid size 512px, will be computed for others
}

html,
body {
  margin: 0;
  height: 100vh;
}
#root {
  background: var(--background-color);
  height: inherit;
  display: flex;
  font-family: var(--text-font-family);
}
.qlock-grid {
  position: relative;
  width: var(--grid-size);
  height: var(--grid-size);
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: auto;
  user-select: none;
}
.qlock-text {
  display: grid;
  align-items: center;
  justify-content: center;
  transition: color 1s ease 0.5s;
  text-transform: capitalize;
  color: var(--text-color-inactive);
  font-size: var(--text-font-size);
  &.active {
    color: var(--text-color-active);
  }
}
.qlock-minutes {
  position: absolute;
  background-color: var(--minute-color-inactive);
  height: var(--minute-size);
  width: var(--minute-size);
  &:nth-child(1) {
    left: var(--minute-gap);
    top: var(--minute-gap);
    &.animating {
      transform-origin: left;
      animation: 60s linear travel-horizontal forwards;
    }
    &.reverse-animating {
      transform-origin: top;
      transform: scaleY(var(--minute-track-scale));
      animation: 15s linear travel-vertical 45s reverse forwards;
    }
    &.active {
      transform-origin: left;
      transform: scaleX(var(--minute-track-scale));
    }
  }
  &:nth-child(2) {
    right: var(--minute-gap);
    top: var(--minute-gap);
    &.animating {
      transform-origin: top;
      animation: 60s linear travel-vertical forwards;
    }
    &.reverse-animating {
      transform-origin: right;
      transform: scaleX(var(--minute-track-scale));
      animation: 15s linear travel-horizontal reverse forwards;
    }
    &.active {
      transform-origin: top;
      transform: scaleY(var(--minute-track-scale));
    }
  }
  &:nth-child(3) {
    right: var(--minute-gap);
    bottom: var(--minute-gap);
    &.animating {
      transform-origin: right;
      animation: 60s linear travel-horizontal forwards;
    }
    &.reverse-animating {
      transform-origin: bottom;
      transform: scaleY(var(--minute-track-scale));
      animation: 15s linear travel-vertical 15s reverse forwards;
    }
    &.active {
      transform-origin: right;
      transform: scaleX(var(--minute-track-scale));
    }
  }
  &:nth-child(4) {
    left: var(--minute-gap);
    bottom: var(--minute-gap);
    transform-origin: bottom;
    &.animating {
      transform-origin: bottom;
      animation: 60s linear travel-vertical forwards;
    }
    &.reverse-animating {
      transform-origin: left;
      transform: scaleX(var(--minute-track-scale));
      animation: 15s linear travel-horizontal 30s reverse forwards;
    }
    &.active {
      transform-origin: bottom;
      transform: scaleY(var(--minute-track-scale));
    }
  }
}
#qlock-minutes-hidden {
  width: var(--minute-track-length);
  // width: calc(var(--minute-track-length)/var(--minute-size));
  opacity: 0;
  position: fixed;
  z-index: -1000;
}

@keyframes blinking {
  0% {
    color: var(--minute-color-active);
  }

  50% {
    color: transparent;
  }

  100% {
    color: var(--minute-color-active);
  }
}
@keyframes travel-horizontal {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(var(--minute-track-scale));
  }
}
@keyframes travel-vertical {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(var(--minute-track-scale));
  }
}
@media (min-width: 600px) {
  :root {
    --grid-size: 512px;
    --text-font-size: 18px;
  }
}
